
<div class="container">
  <h1 class="headline">Stupid Coaching</h1>
  <div class="box-question">
    <p class="question"><%= @search %></p>
    <p class="sender">You</p>
  </div>
  <div class="box-answer">
    <p class="answer"><%= @answer %></p>
    <p class="sender">Your coach</p>
  </div>
  <p class="link"><%= link_to "Ask a new question", ask_path %></p>
</div>
